{% extends "layout.html" %}
{% block content %}
    
    <div class="col-md-12">
        <div class="content-section">
          <h3>About us</h3>
          <p class='text-muted'>Welcome to our Flask Social Media Blog !!
            <p>

                Social Media has become a necessity in today’s world. From individuals to businesses,
                 everyone has a purpose to stay active on different social media platforms.

But does all the social networks go viral?

No! There are a plenty of social networks that have died even without showing a single glimpse.

Because not all the platforms can become Facebook or Twitter. To build a social media platform,
 you need to know what your targeted audience crave for. Be specific with your mission, what can your platform
  serve that is currently not available in the industry.

And once you’re done with your mission, it’s time to know what else you need.

In the quest of creating social media platforms that could actually perform and show results, 
We have created this app.<br>
                <p>Social media is also unique in how rapidly it evolves.

             When This blog was founded in 2020, people were instantly enamored with the
           ability to quickly communicate with others. Within a decade, the speed of responses wasn’t a novelty 
       – it was an expectation.</p>

       <p>Social media continues to rapidly change today, Thus new features are introduced
            all the time to keep users engaged and entertained.
    </p>
            </p>
          </p>
        </div>
      </div>
{% endblock content %}
